# AWS Cloud Configuration (Copy these to your Vercel Project Settings -> Environment Variables)
AWS_REGION=us-east-1
S3_BUCKET=easywritedown-files-392087426683
DYNAMODB_TABLE=easywritedown-pages
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
